.profile-picture {
    height: 300px;
    width: 300px;
}

.multiline {
    white-space: pre-wrap;
}

body {
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}