{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Fountain Pen Showcase{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0 mb-3">

        <!-- HEADER -->
      <header class="py-3 mb-4 border-bottom bg-light">
        <div class="container d-flex flex-wrap justify-content-between">
          <div class="nav nav-pills">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-0 link-body-emphasis text-decoration-none">
                <span class="fs-4 mx-1 site-logo">Fountain Pen Showcase</span>
              </a>
              {% if fps_demo %}
              <button type="button" class="btn btn-outline-danger mx-1" data-bs-toggle="modal" data-bs-target="#demoNoticeModal">
                Demo Notice
              </button>
              <div class="modal fade" id="demoNoticeModal" tabindex="-1" aria-labelledby="demoNoticeLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="demoNoticeLabel">Demo Notice</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>This is the demo version of Fountain Pen Showcase.</p>
                      <p>Feel free to sign up (no email verification), create pens, upload images, and view other user profiles!</p>
                      <p>Note that in the demo version, AWS S3 is disabled and all user data (including images) is only saved onto a Docker volume.</p>
                      <p class="fw-bold">I may choose to delete all existing user data at any time.</p>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>

            {% if user.is_authenticated %}
            <div class="nav nav-pills">
              <div class="d-flex justify-content-center align-items-center">
                <a href="{% url 'home' %}">
                  <img src="{% static 'images/house.svg' %}" width="25" height="25" class="mx-2">
                </a>
              </div>
              <a href="{% url 'settings' %}">
                <button type="button" class="btn btn-outline-primary mx-1">
                  Settings
                </button>
              </a>
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary mx-1" type="submit">Sign Out</button>
              </form>
            </div>
            {% else %}
            <div class="nav nav-pills">
              <form action="{% url 'login' %}">
                <input type="submit" value="Login" class="btn btn-outline-primary mx-1" />
              </form>
              <form action="{% url 'signup' %}">
                <input type="submit" value="Sign up" class="btn btn-primary mx-1" />
              </form>
            </div>
            {% endif %}
          </div>
        </header>

      <!-- MAIN CONTENT -->
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>

    </main>

    <!-- FOOTER -->
      <footer class="footer py-3 border-top bg-light mt-auto">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
          <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2025 Fountain Pen Showcase</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
              <a class="text-body-secondary" href="https://github.com/jcstlo/fp-showcase" target="_blank">
                <img height="25px" width="auto" src="{% static 'images/github-logo.svg' %}" alt="Github">
              </a>
            </li>
          </ul>
        </div>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>