{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}

<h1>Hello {{ user.username }}!</h1>

<div class="my-0 row g-4 py-5 row-cols-1 row-cols-lg-3">
  <div class="col d-flex align-items-start">
    <div>
      <h3 class="fs-2 text-body-emphasis">Add a new pen</h3>
      <p>Add a new pen to your collection.</p>
      <a href="{% url 'add_pen' %}" class="btn btn-primary">
        Add pen
      </a>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <div>
      <h3 class="fs-2 text-body-emphasis">Profile</h3>
      <p>See your public-facing profile!</p>
      <a href="{% url 'profile' user.slug %}" class="btn btn-primary">
        View profile
      </a>
    </div>
  </div>
  <div class="col d-flex align-items-start">
    <div>
      <h3 class="fs-2 text-body-emphasis">Pen list</h3>
      <p>View, edit, and delete pens from your collection.</p>
      <a href="{% url 'pen_list' %}" class="btn btn-primary">
        See list of pens
      </a>
    </div>
  </div>
</div>

{% else %}
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="{% static 'images/fountain_pen_homepage.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Show your collection of fountain pens</h1>
    <p class="lead">Record and share your pen collection with other pen enthusiasts in the Fountain Pen Showcase community!</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="{% url 'signup' %}">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Sign Up</button>
      </a>
      <a href="{% url 'login' %}">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Log In</button>
      </a>
    </div>
  </div>
</div>

{% endif %}
{% endblock content %}