{% extends "_base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<h2>Homepage</h2>
<p>Hello {{ user.username }}!</p>
<p><a href="{% url 'add_pen' %}">Add a new pen</a></p>
<p><a href="{% url 'profile' user.slug %}">Profile</a></p>
<p><a href="#">See list of pens</a></p>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Sign Out</button>
</form>
{% else %}
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock content %}