{% extends "_base.html" %}
{% load static %}

{% block title %}{{ profile_user.username }}'s Profile{% endblock title %}

{% block content %}

<h2>Profile</h2>
<div class="d-flex flex-column flex-lg-row">
  <div class="p-3 d-flex flex-column align-items-center justify-content-center">
    {% if profile_user.profile_picture %}
      <img class="profile-picture img-thumbnail" src="{{ profile_user.profile_picture.url }}" alt="Profile picture">
    {% else %}
      <img class="profile-picture img-thumbnail" src="{% static 'images/blank_user_pic.png' %}" alt="No profile picture set">
    {% endif %}
    <p class="mt-2 mb-0 text-center fs-4">{{ profile_user.username }}</p>
  </div>
  <div class="flex-grow-1 p-3 d-flex flex-column">
    {% if profile_user.profile_description %}
      <div class="mb-4 multiline">{{ profile_user.profile_description }}</div>
    {% else %}
      <div class="mb-4 text-body-secondary fst-italic">No profile description.</div>
    {% endif %}
    <div class="d-flex">
      {% if profile_user.pen_set.all|length == 1 %}
        <p class="my-0 me-2 text-secondary">1 total pen</p>
      {% else %}
        <p class="my-0 mx-2 text-secondary">{{ profile_user.pen_set.all|length }} total pens</p>
      {% endif %}
      <div class="vr"></div>
      <p class="my-0 mx-2 text-secondary">Joined: {{ profile_user.date_joined }} (UTC)</p>
      <div class="vr"></div>
      <p class="my-0 mx-2 text-secondary">Last seen: {{ profile_user.last_login }} (UTC)</p>
    </div>
  </div>
</div>

<h2>Pens</h2>
<div class="p-3 row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
  {% for pen in profile_user.pen_set.all %}
  <div class="col">
    <div class="card shadow-sm">
      {% if pen.main_image %}
      <img src="{{ pen.main_image.url }}" alt="Pen image" class="card-img-top" width="100%" height="250">
      {% else %}
      <img src="{% static 'images/fountain_pen_placeholder_image.jpg' %}" alt="Pen image" class="card-img-top" width="100%" height="250">
      {% endif %}
      <div class="card-body">
        <div class="d-flex">
          <a href="{% url 'pen_detail' pen.id %}">
            <p class="card-text">{{ pen.name }}</p>
          </a>
          {% if pen.favorite %}
          <img src="{% static 'images/star.svg' %}" width="20" height="20" class="mx-2">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}