{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Pen Details{% endblock title %}

{% block content %}
<h2>Edit pen information</h2>
<form method="post" id="pen_details" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
</form>
<div class="d-flex justify-content-between">
  <input form="pen_details" type="submit" value="Update" class="btn btn-success"/>
  <form action="{% url 'delete_pen' pen.id %}">
    {% csrf_token %}
    <input type="submit" value="Delete" class="btn btn-danger"/>
  </form>
</div>
{% endblock content %}