{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Pen Information{% endblock title %}

{% block content %}
<h2>{{ pen.name }}</h2>
<a href="{% url 'profile' pen.owner.slug %}">Back to {{ pen.owner }}'s profile</a>

<h4>Description:</h4>
{% if pen.description %}
  <p>{{ pen.description }}</p>
{% else %}
  <p>n/a</p>
{% endif %}

<h4>Nib size:</h4>
{% if pen.nib_size %}
  <p>{{ pen.nib_size }}</p>
{% else %}
  <p>n/a</p>
{% endif %}

<h4>Brand/company/creator:</h4>
{% if pen.creator %}
  <p>{{ pen.creator }}</p>
{% else %}
  <p>n/a</p>
{% endif %}

<h4>Color:</h4>
{% if pen.color %}
  <p>{{ pen.color }}</p>
{% else %}
  <p>n/a</p>
{% endif %}

<h4>Manufacture year:</h4>
{% if pen.manufacture_year %}
  <p>{{ pen.manufacture_year }}</p>
{% else %}
  <p>n/a</p>
{% endif %}

<h4>Purchase location:</h4>
{% if pen.purchase_location %}
  <p>{{ pen.purchase_location }}</p>
{% else %}
  <p>n/a</p>
{% endif %}

<h4>Purchase date:</h4>
{% if pen.purchase_date %}
  <p>{{ pen.purchase_date }}</p>
{% else %}
  <p>n/a</p>
{% endif %}

{% endblock content %}