{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Pen Information{% endblock title %}

{% block content %}
<h2>{{ pen.name }}</h2>
<a href="{% url 'profile' pen.owner.slug %}">Back to {{ pen.owner }}'s profile</a>
<br></br>
<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <th>Name/model</th>
      <td>{{ pen.name }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ pen.description }}</td>
    </tr>
    <tr>
      <th>Nib size</th>
      <td>{{ pen.nib_size }}</td>
    </tr>
    <tr>
      <th>Brand/company/creator</th>
      <td>{{ pen.creator }}</td>
    </tr>
    <tr>
      <th>Color</th>
      <td>{{ pen.color }}</td>
    </tr>
    <tr>
      <th>Manufacture year</th>
      {% if pen.manufacture_year %}
      <td>{{ pen.manufacture_year }}</td>
      {% endif %}
    </tr>
    <tr>
      <th>Purchase location</th>
      <td>{{ pen.purchase_location }}</td>
    </tr>
    <tr>
      <th>Purchase date</th>
      {% if pen.purchase_date %}
      <td>{{ pen.purchase_date }}</td>
      {% endif %}
    </tr>
  </tbody>
</table>

<h3>Images</h3>
{% if pen.main_image %}
  <img src="{{ pen.main_image.url }}" alt="Pen image" class="img-fluid">
{% else %}
  <p>No images</p>
{% endif %}

{% endblock content %}